DrawingEx/Resources/XMLFormat.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Collection">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Gradient">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="ColorPoint">
								<xs:complexType>
									<xs:attribute name="Position" type="xs:decimal" use="required" />
									<xs:attribute name="Focus" type="xs:decimal" use="required" />
									<xs:attribute name="Color" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" name="AlphaPoint">
								<xs:complexType>
									<xs:attribute name="Position" type="xs:decimal" use="required" />
									<xs:attribute name="Focus" type="xs:decimal" use="required" />
									<xs:attribute name="Alpha" type="xs:decimal" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="GammaCorrected" type="xs:string" use="required" />
						<xs:attribute name="Title" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>